# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/style/Calculator.css
src/style/Calculator.css.map
src/style/Calculator.css
.gitignore
src/style/index.css
src/style/index.css.map
FCC build/asset-manifest.json
FCC build/favicon.ico
FCC build/index.html
FCC build/logo192.png
FCC build/logo512.png
FCC build/manifest.json
FCC build/robots.txt
FCC build/static/css/main.0d1547aa.chunk.css
FCC build/static/css/main.0d1547aa.chunk.css.map
FCC build/static/js/2.3859bee5.chunk.js
FCC build/static/js/2.3859bee5.chunk.js.LICENSE.txt
FCC build/static/js/2.3859bee5.chunk.js.map
FCC build/static/js/3.b0fb1dac.chunk.js
FCC build/static/js/3.b0fb1dac.chunk.js.map
FCC build/static/js/main.ec7d0db2.chunk.js
FCC build/static/js/main.ec7d0db2.chunk.js.map
FCC build/static/js/runtime-main.d994cbcc.js
FCC build/static/js/runtime-main.d994cbcc.js.map
src/style/Calculator.css
.gitignore
FCC build/static/css/main.2eb1c4e8.chunk.css
FCC build/static/css/main.2eb1c4e8.chunk.css.map
FCC build/static/js/2.6ce4e8cf.chunk.js
FCC build/static/js/2.6ce4e8cf.chunk.js.LICENSE.txt
FCC build/static/js/2.6ce4e8cf.chunk.js.map
FCC build/static/js/main.92443641.chunk.js
FCC build/static/js/main.92443641.chunk.js.map
FCC build/static/css/main.0936a02b.chunk.css
FCC build/static/css/main.0936a02b.chunk.css.map
FCC build/static/js/2.826e8ca2.chunk.js
FCC build/static/js/2.826e8ca2.chunk.js.LICENSE.txt
FCC build/static/js/2.826e8ca2.chunk.js.map
FCC build/static/js/main.823c36e8.chunk.js
FCC build/static/js/main.823c36e8.chunk.js.map
GitHub build/static/js/main.9e7ad99d.chunk.js
GitHub build/static/js/main.9e7ad99d.chunk.js.map
FCC build/static/js/main.3b12216e.chunk.js
FCC build/static/js/main.3b12216e.chunk.js.map
FCC build/static/js/main.d64eb9f8.chunk.js
FCC build/static/js/main.d64eb9f8.chunk.js.map
FCC build/static/js/main.3b12216e.chunk.js
FCC build/static/js/main.3b12216e.chunk.js.map
FCC build/static/js/main.3b12216e.chunk.js
FCC build/static/js/main.3b12216e.chunk.js.map
.gitignore
GitHub build/asset-manifest.json
GitHub build/index.html
GitHub build/static/js/main.8dc38bd2.chunk.js
GitHub build/static/js/main.8dc38bd2.chunk.js.map
GitHub build/static/js/main.d64eb9f8.chunk.js
GitHub build/static/js/main.d64eb9f8.chunk.js.map
GitHub build/asset-manifest.json
GitHub build/index.html
GitHub build/static/js/main.8dc38bd2.chunk.js
