.keyboard-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1px 1px;
  grid-template-areas:
    "seven eight nine divide"
    "four five six multiply"
    "one two three subtract"
    "zero decimal percentage add"
    "clear clear equals equals";
  width: 234px;
  height: 242px;
  margin: auto;

  @each $id in nine, eight, seven, six, five, four, three, two, one, zero, decimal, clear, equals, add, subtract,
    multiply, divide, percentage
  {
    ##{$id} {
      grid-area: #{$id};
    }
  }
  button {
    font-family: inherit;
    font-size: 1.3rem;
    //border: 1px solid rgba(142, 142, 142, 0);
    border: 2px solid rgba(142, 142, 255, 0);
    &.clicked {
      animation: anim 250ms; 
    }
  }
  .number {
    background-color: #e0e0e0;
    &:hover {
      background-color: #f3f3f3;
    }
  }
  .operator {
    font-size: 1.5rem;
    color: #fff;
    background-color: #fa9245;
    &#divide {
      font-size: 2rem;
    }
    &#subtract {
      font-size: 2rem;
    }
    &#percentage {
      font-size: 1.3rem;
      color: #000;
      background-color: #e0e0e0;
      &:hover {
        background-color: #f3f3f3;
      }
    }
    &#equals {
      font-size: 1.9rem;
    }
    &:hover {
      background-color: #ffa969;
    }
  }
}

@keyframes anim {
  0% {
    border: 2px solid rgba(142, 142, 142, 1);
  }
  100% {
    border: 2px solid rgba(142, 142, 142, 0);
  }
}